section.choose.choose-place(v-if="ui.view === 'place'")

  form(@submit.prevent="handleTravelClick()")

    legend Where do you want to go?

    fieldset
      label.required Choose a location
      Multiselect(
        v-model="ui.placeIndex"
        :options="(availablePlaces || []).filter(p => p.id !== 0)"
        :searchable="true"
        :required="true"
        value-prop="id"
        track-by="name"
        label="name"
        mode="single"
      )

    .details.place-details(v-if="ui.placeIndex")
      .name {{getPlace(ui.placeIndex).name}}
      .description {{getPlace(ui.placeIndex).description}}
      
      dl.population
        dt Population
        dd.big-number {{addCommas(getPlace(ui.placeIndex).totalPopulation)}}

      dl.net-worth
        dt Avg Net Worth
        dd.big-number {{dollars(getPlace(ui.placeIndex).avgNetWorth)}}
      

      dl.religions
        dt Top Religions
        dd
          ol
            li(v-for="religion in getPlace(ui.placeIndex).religions.slice(0, 5)") {{religion.name}}

      dl.likes
        dt Likes
        dd 
          ul
            li(v-for="like in getPlace(ui.placeIndex).likedTags.slice(0, 5)") {{like}}
      dl.dislikes
        dt Dislikes
        dd 
          ul
            li(v-for="dislike in getPlace(ui.placeIndex).dislikedTags.slice(0, 5)") {{dislike}}

      dl.travel-cost(v-if="my.hasVan")
        dt Gas Cost
        dd(style="display:flex; flex-direction:column; gap:1rem;")
          .cost(:class="{ warning: my.money < gameSettings.van.fixedGasPrice }") {{dollars(gameSettings.van.fixedGasPrice)}}
          .notice.warning(v-if="my.money < gameSettings.van.fixedGasPrice") ⛽ You don't have gas money 

      dl(v-if="my.church.location?.name === getPlace(ui.placeIndex)?.name")
        dt ⛪ Your Church
        dd {{my.church.name}} is located here.

      dl(v-else-if="my.church.location?.name")      
        dt Street Preacher
        dd {{my.church.name}} is in {{my.church.location.name}}. You will be a street preacher in this location.

    .button-holder
      button.reset(type="button" @click="ui.view = 'sermon-results'") Cancel
      button(
        type="submit" 
        :disabled="!ui.placeIndex || my.money < gameSettings.van.fixedGasPrice || getPlace(ui.placeIndex).id === my.place.id"
      ) 
        span(v-if="getPlace(ui.placeIndex).id === my.place.id") Already here
        span(v-else-if="my.money < gameSettings.van.fixedGasPrice") Can't Afford Gas
        span(v-else) Start Driving

  // Spice Warning Overlay
  .spice-warning-overlay(v-if="ui.spiceWarning.show")
    .spice-warning-modal
      .spice-warning-headline Want to buy some spice before you drive?
      .spice-warning-content
        p {{ ui.spiceWarning.message }}
        p(v-if="gameSettings.van.fixedGasPrice") Keep in mind you'll need {{ dollars(gameSettings.van.fixedGasPrice) }} for gas,
          | so  #[strong you can afford {{ui.spiceWarning.affordableAmount}}] and still make it to {{getPlace(ui.placeIndex).name}}
        .spice-warning-buttons
          button.plug(@click="openPlugFromWarning()") 📱 Text The Plug
          button.submit(@click="proceedWithoutSpice()") Just Drive
        label.reminder-checkbox
          input(type="checkbox" v-model="ui.spiceWarning.disregard") 
          span Don't ask me again.