section.sermon(v-if="ui.view === 'sermon'")

  form(@submit.prevent="defineSermon()")

    legend 
      span What will you preach today?

    fieldset
      label.required First Topic
      Multiselect(
        v-model="ui.selectedTopics[0]"
        :options="provideTopicOptions(0)"
        :searchable="true"
        :required="true"
        value-prop="id"
        track-by="title"
        label="title"
        mode="single"
      )
      //.explainer(v-if="ui.selectedTopics[0]")
        p {{showThemeDescription(ui.selectedTopics[0])}}

    fieldset
      label.required Second Topic
      Multiselect(
        v-model="ui.selectedTopics[1]"
        :options="provideTopicOptions(1)"
        :searchable="true"
        :required="true"
        value-prop="id"
        track-by="title"
        label="title"
        mode="single"
      )
      //.explainer(v-if="ui.selectedTopics[1]")
        p {{showThemeDescription(ui.selectedTopics[1])}}
    fieldset
      label.required Third Topic
      Multiselect(
        v-model="ui.selectedTopics[2]"
        :options="provideTopicOptions(2)"
        :searchable="true"
        :required="true"
        value-prop="id"
        track-by="title"
        label="title"
        mode="single"
      )
      //.explainer(v-if="ui.selectedTopics[2]")
        p {{showThemeDescription(ui.selectedTopics[2])}}

    .button-holder
      button(type="submit" :disabled="!ui.selectedTopics[0] || !ui.selectedTopics[1] || !ui.selectedTopics[2]") Create Sermon