include ../../shared/pug/_variables.pug
- const name = "No More Billionaires"
- const desc = "Generating wealth with a guillotine."
- const gameUrl = baseUrl + "/guillotine"
- const ogImage = baseUrl + "/img/og-guillotine.jpg"
- const keywords = "billionaires, ultra-wealthy, class warfare, net worth, eat the rich, kill the rich, guillotine"
- const datePublished = "2022-04-04"

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug
    link(rel="canonical" href=gameUrl)

    // Fonts & CSS
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet")
    link(href="/guillotine.css?lastUpdated=" + lastUpdated rel="stylesheet")

    // OpenGraph
    meta(property="og:title" content=name)
    meta(property="og:type" content="website")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:description" content=desc)
    meta(property="og:image" content=ogImage)
    meta(property="og:url" content=gameUrl)
    
  body
    #app
      h1 No More Billionaires
      h2 Generating wealth with a guillotine.
      p
        | This is a 
        a(href=baseUrl) kinda fun game
        |  made by  
        a(href="https://ahoylemon.xyz") Lemon
    script(type="module" src="/src/entries/guillotine.js")

    // Schema.org
    include pug/partials/_schema.pug