script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{name}",
    "url": "#{gameUrl}",
    "image": "#{ogImage}",
    "keywords": "#{keywords}",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "comedy",
    "description": "#{desc}",
    "inLanguage": "English",
    "numberOfPlayers": 1,
    "creator": !{creatorSchema},
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "isAccessibleForFree": true,
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/midtrial.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/select-court.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/case-selection.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/justice-selection.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/verdict.jpg",
        "width": 1270,
        "height": 760
      },
    ],
    "datePublished": "#{datePublished}",
    "dateModified": "#{lastUpdated}"
  }
