include ../../shared/pug/_variables.pug
- const name = "This Meeting Has Points"
- const desc = "So now you have a reason to pay attention."
- const keywords = "multiplayer, social game, deduction, card game, meeting game, screwing around at work, virtual team game, coworkers"
- const gameUrl = baseUrl + "/meeting"
- const ogImage = baseUrl +"/img/og-meeting.png"
- const datePublished = "2025-07-10"

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug
    link(rel="canonical" href=gameUrl)

    // Fonts & CSS
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

    link(href="/meeting.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

    // OpenGraph
    meta(property="og:title" content=name)
    meta(property="og:type" content="website")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:description" content=desc)
    meta(property="og:url" content=gameUrl)
    meta(property="og:image" content=ogImage)
    meta(property="og:email" content=email) 

  body
    #app 
      h1 This Meeting Has Points
      h2 So now you have a reason to pay attention.
      p
        | This is a 
        a(href=baseUrl) kinda fun game
        |  made by  
        a(href="https://ahoylemon.xyz") Lemon
    script(type="module" src="/src/entries/meeting.js")  

    // Schema.org
    include pug/_schema.pug