include ../../shared/pug/_variables.pug
- const name = "Comparatively Famous"
- const desc = "The Game of Celebrity Value"
- const keywords = "comedy game, celebrity, sorting, cameo, famous people, kinda fun games"
- const gameUrl = baseUrl + "/cameo"
- const ogImage = baseUrl +"/img/og-famous.png"
- const datePublished = "2021-02-16"

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug
    link(rel="canonical" href=gameUrl)
    

    // Fonts & CSS
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet")
    link(href="/cameo.css?lastUpdated=" + lastUpdated rel="stylesheet")

    // Favicon 
    link(rel="apple-touch-icon" sizes="180x180" href=baseUrl+"/img/famous/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=baseUrl+"/img/famous/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=baseUrl+"/img/famous/favicon-16x16.png")
    link(rel="shortcut icon" href=baseUrl+"/img/famous/favicon.ico")
    link(rel="mask-icon" href=baseUrl+"/img/famous/safari-pinned-tab.svg" color="#1cb3ef")
    meta(name="msapplication-TileColor" content="#3b1666")
    meta(name="theme-color" content="#3b1666")

    // OpenGraph 
    meta(property="og:title" content=name)
    meta(property="og:type" content="website")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="og:description" content=desc)
    meta(property="og:url" content=gameUrl)
    meta(property="og:image" content=ogImage)
    meta(property="og:email" content=email) 
    
  body
    #app
    script(type="module" src="/src/entries/cameo.js")

    // Schema.org
    include pug/_schema.pug