meta(charset="utf-8")
title #{pageTitle} | #{description}
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=description)
meta(http-equiv="last-modified" content=lastUpdated)
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Poppins:400,400i,700")
link(href="css/sisyphus.css?lastUpdated="+lastUpdated rel="stylesheet")
link(rel="canonical" href=pageURL)

include _favicons.pug
include _social.pug

meta(name="google-site-verification" content="cXGgZ2HCUy8jYOL41BCPYmF20eSssZR40Joc3zoB_Yw")