script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{pageTitle}",
    "url": "#{siteURL}",
    "image": "#{siteURL}/img/sisyphus/og-wide.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "clicker",
    "description": "#{description}",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "email": "#{emailAddress}",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/sisyphus/screenshots/ss1.png",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/sisyphus/screenshots/ss2.png",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/sisyphus/screenshots/ss3.png",
        "width": 1083,
        "height": 924
      }
    ]
  }
