script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "Invalid",
    "description": "#{desc}",
    "keywords": "#{keywords}",
    "genre": "comedy",
    "url": "#{gameUrl}",
    "image": "#{ogImage}",
    "playMode": "MultiPlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "inLanguage": "English",
    "numberOfPlayers": {
      "minValue": 2,
      "maxValue": 10
    },
    "creator": !{creatorSchema},
    "isAccessibleForFree": true,
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/invalid/screenshots/1.jpg",
        "width": 1920,
        "height": 1080
      },
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/invalid/screenshots/2.jpg",
        "width": 1920,
        "height": 1080
      },
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/invalid/screenshots/3.jpg",
        "width": 1920,
        "height": 1080
      }
    ],
    "datePublished": "#{datePublished}",
    "dateModified": "#{lastUpdated}"
  }
