script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{name}",
    "description": "#{desc}",
    "keywords": "#{keywords}",
    "url": "#{gameUrl}",
    "image": "#{ogImage}",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "clicker",
    "inLanguage": "English",
    "creator": !{creatorSchema},
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "isAccessibleForFree": true,
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{baseUrl}/img/sisyphus/screenshots/ss1.png",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{baseUrl}/img/sisyphus/screenshots/ss2.png",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{baseUrl}/img/sisyphus/screenshots/ss3.png",
        "width": 1083,
        "height": 924
      }
    ],
    "datePublished": "#{datePublished}",
    "dateModified": "#{lastUpdated}"
  }
