.game-screen

  main

    include pug/_choose-religion.pug

    include pug/_choose-place.pug

    include pug/_create-sermon.pug

    include pug/_sermon-diagnosis.pug

    include pug/_preaching.pug

    include pug/_sermon-results.pug

    include pug/_church-setup.pug  

  include pug/_your-details.pug 

  // Spice dealer chat interface
  Chat(
    :isOpen="ui.chats.plug.isOpen"
    contactType="plug" 
    :playerName="my.name"
    :playerMoney="my.money"
    :spicePrice="gameSettings.spice.pricePerUnit"
    :fatalSpiceAmount="my.spice.fatalAmount"
    :spiceRequired="my.spice.requiredAmount"
    :chatHistory="my.chats.plug.chatHistory"
    :totalOrders="my.chats.plug.totalOrders"
    @close="closePlugInterface"
    @order="handlePlugOrder"
  )

  Chat(
    :isOpen="ui.chats.harold.isOpen"
    contactType="harold"
    :playerName="my.name"
    :playerMoney="my.money"
    :playerHasVan="my.hasVan"
    :vanCost="gameSettings.van.cost"
    :chatHistory="my.chats.harold.chatHistory"
    @close="closeHaroldInterface"
    @van-purchase="buyVan"
    @harold-message="handleHaroldMessage"
  )

  Chat(
    :isOpen="ui.chats.sterling.isOpen"
    contactType="sterling"
    :playerName="my.name"
    :playerMoney="my.money"
    :playerHasChurch="my.church.isFounded"
    :chatHistory="my.chats.sterling.chatHistory"
    @close="closeSterlingInterface"
    @sterling-message="handleSterlingMessage"
    @church-founding="handleChurchFounding"
  )

  SterlingNote(
    ref="sterlingNoteRef"
    :playerName="my.name"
    @noteRead="onSterlingNoteRead"
  )

  WorshopZoneBanner(
    v-if="ui.workshopZone.showBanner && my.church.isFounded"
    @show-workshop-zone="onBannerAccepted"
    @close="() => ui.workshopZone.showBanner = false"
  )

  WorshopZone(
    v-if="ui.workshopZone.isOpen"
    @close="closeWorkshopZone"
  ) 