include ../../shared/pug/_variables.pug
- const name = "MegaChurch Tycoon"
- const desc = ""
- const keywords = ""
- const gameUrl = baseUrl + "/megachurch"
- const ogImage = ""
- const datePublished = ""

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug

    link(href="/pretend.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

    //- // OpenGraph
    //- meta(property="og:title" content=name)
    //- meta(property="og:type" content="website")
    //- meta(property="og:image:width" content="1200")
    //- meta(property="og:image:height" content="630")
    //- meta(property="og:description" content=desc)
    //- meta(property="og:url" content=baseUrl +"/pretend")
    //- meta(property="og:image" content=baseUrl +"/img/og-pretend.png")
    //- meta(property="og:email" content=email) 

  body
    #app
    script(type="module" src="/src/entries/pretend.js")

    // Schema.org
    include pug/_schema.pug
 