script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{name}",
    "description": "#{desc}",
    "keywords": "#{keywords}",
    "genre": "comedy",
    "url": "#{gameUrl}",
    "image": "#{ogImage}",
    "playMode": "MultiPlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "inLanguage": "English",
    "numberOfPlayers": {
      "minValue": 2,
      "maxValue": 8
    },
    "creator": !{creatorSchema},
    "isAccessibleForFree": true,
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "datePublished": "#{datePublished}",
    "dateModified": "#{lastUpdated}"
  }
