script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{name}",
    "url": "#{gameUrl}",
    "image": "#{ogImage}",
    "keywords": "#{keywords}",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "comedy",
    "description": "#{desc}",
    "inLanguage": "English",
    "numberOfPlayers": 1,
    "creator": !{creatorSchema},
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "isAccessibleForFree": true,
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/pretend/screenshots/1.jpg",
        "width": 1200,
        "height": 650
      },
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/pretend/screenshots/2.jpg",
        "width": 1200,
        "height": 650
      },
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/pretend/screenshots/3.jpg",
        "width": 980,
        "height": 980
      },
      {
        "@type": "ImageObject",
        "url": "#{baseURL}/img/pretend/screenshots/4.jpg",
        "width": 980,
        "height": 980
      },
    ],
    "datePublished": "#{datePublished}",
    "dateModified": "#{lastUpdated}"
  }
