// this is an example of schema I've used.
// PLEASE edit before publishing.
// https://search.google.com/structured-data/testing-tool/u/0/

script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{siteTitle}",
    "url": "#{siteURL}",
    "image": "#{siteURL}/og-image.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "guessing game",
    "description": "#{description}",
    "inLanguage": "English",
    "author": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/1.jpg",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/2.jpg",
        "width": 1083,
        "height": 924
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/3.jpg",
        "width": 1083,
        "height": 924
      }
    ]
  }
