include ../../shared/pug/_variables.pug
- const name = "404 - Page Not Found | Kinda fun."
- const desc = "Sorry, the page you're looking for doesn't exist. Check out our games instead!"

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{name}
    meta(name="description" content=desc)
    meta(http-equiv="last-modified" content=lastUpdated)

    // Fonts & CSS
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet")
    link(href="/404.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

    // Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#e5e828")
    meta(name="msapplication-TileColor" content="#e5e828")
    meta(name="theme-color" content="#e5e828")

    // OpenGraph
    meta(property="og:title" content=name)
    meta(property="og:type" content="website")
    meta(property="og:image:width" content="1280")
    meta(property="og:image:height" content="640")
    meta(property="og:description" content=desc)
    meta(property="og:url" content=baseUrl + "/404")
    meta(property="og:image" content=baseUrl + "/img/og-wide.png")
    meta(property="og:email" content=email)
    
    // Set proper HTTP status
    meta(http-equiv="status" content="404")
  body
    #app
    script(type="module" src="/src/entries/404.js")