script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "Comparatively Famous",
    "url": "#{pageURL}",
    "image": "#{siteURL}/img/og-famous.png",
    "playMode": "SinglePlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "comedy",
    "description": "#{description}",
    "inLanguage": "English",
    "numberOfPlayers": 1,
    "aggregateRating": {
      "ratingValue": 5,
      "ratingCount": 12
    },
    "creator": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/title-screen.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/sort-three.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/sort-midway.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/valuate.jpg",
        "width": 1270,
        "height": 760
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/famous/screenshots/final-round.jpg",
        "width": 1270,
        "height": 760
      },
    ]
  }
