main.final-round(v-if="game.started && game.finalRound")

  .casting-interface(v-if="!ui.cameosPaid")


    // Unhired Birthday Options
    draggable(
      class="list-group unhired"
      :list="round.leftSide"
      :options="{ disabled : ui.hiringFinished }"
      item-key="slug"
      group="people"
      @start="isDragging = true"
      @end="isDragging = false"
    )
      template(#item="{element}")
        figure.cameo.list-group-item
          .image-holder
            img(:src="'img/cameos/'+element.slug+'.jpg'")
          figcaption
            .name {{ element.name }}
            .desc(v-if="element.desc") {{element.desc}}


    // People You've Hired
    draggable(
      class="list-group hired"
      :list="round.rightSide"
      :options="{ disabled : ui.hiringFinished }"
      item-key="slug"
      group="people"
      @start="isDragging = true"
      @end="isDragging = false"
    )
      template(#item="{element}")
        figure.cameo.list-group-item
          .image-holder
            img(:src="'img/cameos/'+element.slug+'.jpg'")
          figcaption
            .name {{ element.name }}
            .desc(v-if="!ui.hiringFinished && element.desc") {{element.desc}}
            .value.invisible(v-if="ui.hiringFinished") {{dollars(element.value)}}
      
      .help-text(v-if="round.rightSide.length < 1") 
        .inside place all your hires here


    // Budget
    .budget-interface
      .box
        .label.your-budget Your Budget
        .big-number.dollars {{dollars(round.budget)}}
      .box(v-if="round.rightSide.length > 0")
        .label.birthday-wishes Birthday Wishes
        .big-number {{round.rightSide.length}}
      .box(v-if="round.spent > 0")
        .label.you-spent You Spent
        .big-number(:class="{'exceeded-budget': ui.exceededBudget }") {{dollars(round.spent)}}