script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": "#{siteTitle}",
    "url": "#{siteURL}",
    "image": "#{siteURL}/og-image.png",
    "playMode": "MultiPlayer",
    "applicationCategory": "browser game",
    "gamePlatform": "web browser",
    "operatingSystem": "web browser",
    "genre": "comedy",
    "description": "#{description}",
    "inLanguage": "English",
    "numberOfPlayers": {
      "minValue": 2,
      "maxValue": 100
    },
    "aggregateRating": {
      "ratingValue": 4.33333,
      "ratingCount": 3
    },
    "creator": {
      "@type": "Person",
      "name": "Lemon",
      "url": "https://ahoylemon.xyz",
      "sameAs": [
        "https://thefpl.us/meet/lemon",
        "https://twitter.com/AhoyLemon"
      ]
    },
    "publisher": {
      "@type": "PerformingGroup",
      "name": "The F Plus",
      "url": "https://thefpl.us"
    },
    "offers": {
      "@type": "Offer",
      "description": "free",
      "price": "0",
      "priceCurrency": "USD"
    },
    "screenshot": [
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/1.jpg",
        "width": 1920,
        "height": 1080
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/2.jpg",
        "width": 1920,
        "height": 1080
      },
      {
        "@type": "ImageObject",
        "url": "#{siteURL}/img/screenshots/3.jpg",
        "width": 1920,
        "height": 1080
      }
    ]
  }
