section.famous.stats(v-if="ui.viewing == 'cameo'")
  figure
    img(src="/svg/games/comparativelyfamous.svg")

  .stats-boxes.with-table

    .boxes

      .box.date(v-if="stats.cameo && stats.cameo.lastGameStarted")
        .caption Last Game
        .time-ago(v-text="formatTime(stats.cameo.lastGameStarted,'fromNow')")
        .calendar(v-text="formatTime(stats.cameo.lastGameStarted,'calendar')")

      .box.big-number(v-if="stats.cameo && stats.cameo.gamesStarted > 0")
        .caption Games Started
        .number(v-text="addCommas(stats.cameo.gamesStarted)")
        .sub-number
          strong(v-text="calculateAverage(stats.cameo.gamesStarted, dates.cameo.dayCount)")
          |  per day
      
      .box.big-number(v-if="stats.cameo && stats.cameo.gamesFinished > 0")
        .caption Games Finished
        .number(v-text="addCommas(stats.cameo.gamesFinished)")
        .sub-number
          strong(v-text="calculateAverage(stats.cameo.gamesFinished, dates.cameo.dayCount)")
          |  per day (
          strong(v-text="percentOf(stats.cameo.gamesStarted, stats.cameo.gamesFinished) + '%'")
          | )

      .box.big-number(v-if="computedCameo?.specialGameCount")
        .caption Special Games
        .number(v-text="addCommas(computedCameo.specialGameCount)")
        .sub-number
          |  (
          strong(v-text="percentOf(stats.cameo.gamesFinished, computedCameo.specialGameCount) + '%'")
          |   of total)


      .box.big-name(v-if="computedCameo?.mostPopularSpecialGame")
        .caption Best Special
        .name {{computedCameo.mostPopularSpecialGame.name}}
        .subtext played 
          strong(v-text="computedCameo.mostPopularSpecialGame.startedCount")
          |  times (
          strong(v-text="percentOf(computedCameo.specialGameCount, computedCameo.mostPopularSpecialGame.startedCount)")
          | %)

      .box.big-number(v-if="computedCameo?.averageMarketForces")
        .caption Avg Market Forces
        .number(v-text="dollars(computedCameo.averageMarketForces)")
      
      
      .box.big-name(v-if="computedCameo?.mostBirthdays")
        .caption Birthday Clown
        .name {{computedCameo.mostBirthdays.name}}
        .subtext
          strong(v-text="computedCameo.mostBirthdays.birthdayWishCount")
          span  birthday wishes.
      
      .box.big-name(v-if="computedCameo?.mostOvervalued")
        .caption Most Overvalued 
        .name {{computedCameo.mostOvervalued.name}}
        .subtext
          span Overvalued by 
          strong(v-text="dollars(Math.abs(computedCameo.mostOvervalued.marketForces))")
      
      .box.big-name(v-if="computedCameo?.mostUndervalued")
        .caption Most Undervalued 
        .name {{computedCameo.mostUndervalued.name}}
        .subtext
          span Undervalued by 
          strong(v-text="dollars(Math.abs(computedCameo.mostOvervalued.marketForces))")

      //-.box.date(v-if="dates.cameo.launched")
        .caption Game Launched
        .time-ago(v-text="formatTime(dates.cameo.launched,'MMM D, YYYY')")
        .calendar(v-text="formatTime(dates.cameo.launched,'fromNow')")
    
    .good-table.games-table(v-if="ui.cameoLoaded")
      h2 Special Games
      vue-good-table( v-if="stats.cameo.specialGames && stats.cameo.specialGames.length"
                      :rows="stats.cameo.specialGames"
                      :columns="columns.cameoSpecialGames"
                      theme="black-rhino"
                      styleClass="vgt-table condensed"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'startedCount', type: 'desc'} }"
                    )

  .performance-table-wrapper

    .good-table.celeb-table(v-if="stats.cameo.celebs")
      h2 Celebrity Performance
      vue-good-table( v-if="stats.cameo.celebs && stats.cameo.celebs.length"
                      :rows="stats.cameo.celebs"
                      :columns="columns.celebs"
                      theme="black-rhino"
                      styleClass="vgt-table condensed"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'marketForces', type: 'desc'} }"
                      :pagination-options="{ enabled: true, perPage: 50, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"
                      :search-options="{ enabled: true, trigger: 'enter', skipDiacritics: true, placeholder: 'Search this table'}"
                    )

    //-.good-table.player-table(v-if="ui.cameoLoaded")
      h2 Player Performance
      vue-good-table( v-if="stats.cameo.playerScores && stats.cameo.playerScores.length"
                      :rows="stats.cameo.playerScores"
                      :columns="columns.cameoPlayers"
                      theme="black-rhino"
                      styleClass="vgt-table condensed"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'finishTime', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 31, position: 'top', perPageDropdown: [10, 31, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")