mixin smallTable(title, rows, columns, sortBy)

  - let sortOptions = "{enabled: false }"
  if sortBy
    - sortOptions = "{ enabled: true, initialSortBy: { field: '" + sortBy + "', type: 'desc'} }";

  if rows && columns
    .good-table
      //h2= sortOptions
      if title
        h2= title
      vue-good-table(
        :rows=rows
        :columns=columns
        :sort-options=sortOptions
        theme="black-rhino"
        styleClass="vgt-table condensed"
        :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 25, 50, 100], dropdownAllowAll: true, nextLabel: 'next', prevLabel: 'prev' }")

section.megachurch.stats(v-if="ui.viewing == 'megachurch'")
  figure
    img(src="/svg/games/megachurch-temp.svg")

  .table-and-stats

    .stats-boxes-wrapper
      .stats-boxes

        .box.date
          .caption Last Played
          .time-ago(v-text="formatTime(stats.megachurch.lastGameStarted,'fromNow')")
          .calendar(v-text="formatTime(stats.megachurch.lastGameStarted,'calendar')")
        
        .box.big-number(v-if="stats.megachurch?.gamesStarted")
            .caption Games Started
            .number(v-text="addCommas(stats.megachurch.gamesStarted)")
            .sub-number
              strong(v-text="calculateAverage(stats.megachurch.gamesStarted, dates.megachurch.dayCount)")
              |  games per day

        .box.big-number
          .caption Days of Preaching
          .number(v-text="addCommas(stats.megachurch.daysPlayed)")
          .sub-number
            strong(v-text="percentOf(stats.megachurch.daysPlayed,stats.megachurch.daysPreachedOnStreet) + '%'")
            |  on the street
          .sub-number
            strong(v-text="percentOf(stats.megachurch.daysPlayed,stats.megachurch.daysPreachedInChurch) + '%'")
            |  in churches
          .sub-number
            strong(v-text="percentOf(stats.megachurch.daysPlayed,stats.megachurch.seraphAIDaysActive) + '%'")
            |  with Seraph AI

        .box.big-number
          .caption Games Finished
          .number(v-text="addCommas(stats.megachurch.gamesFinished)")
          .sub-number
            strong(v-text="percentOf(stats.megachurch.gamesStarted,stats.megachurch.gamesFinished) + '%'")
            |  completion rate
          .sub-number
            strong(v-text="addCommas(stats.megachurch.overdoses)")
            span  overdoses (#[strong {{percentOf(stats.megachurch.gamesFinished, stats.megachurch.overdoses)}}%])
          .sub-number
            strong(v-text="addCommas(stats.megachurch.prisonSentences)")
            span  prison sentences (#[strong {{percentOf(stats.megachurch.gamesFinished, stats.megachurch.prisonSentences)}}%])
        
        .box.big-number
          .caption Churches Founded
          .number(v-text="addCommas(stats.megachurch.churchesFounded)")
          .sub-number
            strong(v-text="percentOf(stats.megachurch.gamesStarted,stats.megachurch.churchesFounded) + '%'")
            |  of games started
        
        .box.big-number
          .caption Total Spice Taken
          .number(v-text="addCommas(stats.megachurch.spiceTaken)")

    .good-table
      h2 Sermon Topics
      vue-good-table(
        :rows="stats.megachurch.sermonTopics"
        :columns="columns.megachurchSermonTopics"
        :sort-options="{ enabled: true, initialSortBy: {field: 'timesPreached', type: 'desc'} }"
        theme="black-rhino"
        styleClass="vgt-table condensed"
        :pagination-options="{ enabled: true, perPage: 25, position: 'top', perPageDropdown: [25, 50, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")

  .four-tables(v-if="ui.megachurchLoaded && stats.megachurch.religions")
  
    +smallTable("Cheats", "stats.megachurch.cheats", "columns.megachurchCheats", "timesUsed")

    +smallTable("Church Names", "stats.megachurch.churchNames", "columns.megachurchChurchNames", "churchesFounded")

    +smallTable("Dark Deeds", "stats.megachurch.darkDeeds", "columns.megachurchDarkDeeds", "timesEnacted")

    +smallTable("Eternal Legacy", "stats.megachurch.eternalLegacy", "columns.megachurchEternalLegacy", "timesPurchased")

    +smallTable("Locations", "stats.megachurch.locations", "columns.megachurchLocations", "churchesFounded")

    +smallTable("Marketing", "stats.megachurch.marketing", "columns.megachurchMarketing", "timesPurchased")
    
    +smallTable("Merchandise", "stats.megachurch.merch", "columns.megachurchMerch", "timesPurchased")

    +smallTable("Players", "stats.megachurch.players", "columns.megachurchPlayers", "gamesPlayed")

    +smallTable("Religions", "stats.megachurch.religions", "columns.megachurchReligions", "churchesFounded")

    +smallTable("Upgrades", "stats.megachurch.upgrades", "columns.megachurchUpgrades", "timesPurchased")

  //.table-and-stats

    .stats-boxes-wrapper
      .stats-boxes
        .box.date(v-if="stats.guillotine && stats.guillotine.lastGameStarted")
          .caption Last Game
          .time-ago(v-text="formatTime(stats.guillotine.lastGameStarted,'fromNow')")
          .calendar(v-text="formatTime(stats.guillotine.lastGameStarted,'calendar')")
        .box.big-number(v-if="stats.guillotine && stats.guillotine.gamesStarted")
          .caption Games Started
          .number(v-text="addCommas(stats.guillotine.gamesStarted)")
          .sub-number
            strong(v-text="calculateAverage(stats.guillotine.gamesStarted, dates.guillotine.dayCount)")
            |  per day
        .box.big-number(v-if="stats.guillotine && stats.guillotine.gamesFinished")
          .caption Games Finished
          .number(v-text="addCommas(stats.guillotine.gamesFinished)")
          .sub-number
              strong(v-text="calculateAverage(stats.guillotine.gamesFinished, dates.guillotine.dayCount)")
              |  per day (
              strong(v-text="percentOf(stats.guillotine.gamesStarted, stats.guillotine.gamesFinished) + '%'")
              | )
        .box.big-number(v-if="stats.guillotine && stats.guillotine.scoresShared")
          .caption Scores Shared
          .number(v-text="addCommas(stats.guillotine.scoresShared)")
          .sub-number
            strong(v-text="percentOf(stats.guillotine.gamesFinished, stats.guillotine.scoresShared) + '%'")
            |  share rate
        .box.big-name(span="2" v-if="computedGuillotine && computedGuillotine.mostExecuted")
          .caption Most Executed
          .name {{computedGuillotine.mostExecuted.name}}
          .subtext
            | Sent to the guillotine  {{computedGuillotine.mostExecuted.headCount}} times
        .box.big-number(span="2" v-if="computedGuillotine && computedGuillotine.moneyLiberated")
          .caption Total Money Liberated
          .number(v-text="billionsOfDollars(computedGuillotine.moneyLiberated, true)")
        .box.big-number( span="2" v-if="computedGuillotine && computedGuillotine.averageHeadValue")
          .caption Average Head Value
          .number(v-text="billionsOfDollars(computedGuillotine.averageHeadValue, true)")
        

    .good-table(v-if="ui.guillotineLoaded")
      h2 Heads Removed
      vue-good-table( v-if="stats.guillotine.heads"
                      :rows="stats.guillotine.heads"
                      :columns="columns.guillotineHeads"
                      theme="black-rhino"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'headCount', type: 'desc'} }"
                      :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")